*{
    margin: 0px;
    padding: 0px;
}
.flex-container{
   
   display: flex;
   flex-direction: column;
   justify-content:center;
   align-items: center;
   flex-wrap:wrap;

}
.flex-container .container1{
    height: 100px;
   display: flex;
   flex-direction:row ;
   justify-content:center;
   align-items: center;
   /* flex-wrap:wrap; */

}
.flex-container .container2{
    height: 100px;
   display: flex;
   flex-direction:row ;
   justify-content:center;
   align-items: center;
   /* flex-wrap:wrap; */

}
.flex-container .container3{
    height: 100px;
   display: flex;
   flex-direction:row ;
   justify-content:center;
   align-items: center;
   /* flex-wrap:wrap; */

}
.flex-container .container1 div{
    width:75px;
    height: 75px;
    font-size: 3em;
    color: white;
    text-align: center;
    /* flex-basis: 400px; */
    flex-grow: 1;
}
.flex-container .container2 div{
    width:75px;
    height: 75px;
    font-size: 3em;
    color: white;
    text-align: center;
    /* flex-basis: 400px; */
    flex-grow: 1;
}
.flex-container .container3 div{
    width:75px;
    height: 75px;
    font-size: 3em;
    color: white;
    text-align: center;
    /* flex-basis: 400px; */
    flex-grow: 1;
}
div:nth-of-type(4)
{
    /* align-self:flex-end; */
    /* align-content:flex-start ; */
}
/* div:nth-of-type(18)
{
    flex-grow: 3;
} */
